---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: syncthing-v1
  namespace: home
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 500Gi
  storageClassName: ceph-cephfs-sc
